@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{

    font-family: "EB Garamond", serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
body{
        background-color: lightgoldenrodyellow;

}
header{
    text-align: center;
    background-color: blueviolet;
    padding: 10px;
    color: lightgoldenrodyellow;
    top: 0;
}
footer{
    text-align: center;
    background-color: blueviolet;
    padding: 10px;
    color: lightgoldenrodyellow;
    bottom: 0;
    position: fixed;
    width: 100%;
}
h2{
    font-weight: bold;
    margin: 0;
}

.content{
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}
.about{
    background-color: rgb(254, 253, 253);
    padding: 25px; 
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;

    h2{
    margin-bottom: 10px;
    font-size: 24px;
    }
    img{
        width: 250px;
        border-radius: 10px;
    }
}

.achievements{
    background-color: rgb(254, 253, 253);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.achievements h2{
    font-size: 24px;
}
.achievements ul{
    list-style-type: disc;
    padding-left: 10px;
}
.achievements li{
    margin-bottom: 10px;
}